$colorBlanco: #fff;
$colorNegro: #000;
$colorGris: #d7d7d7;
$tamanioFuenteNav: 24px;
$tamanioH2: 40px;
$tamanioH3: 25px;

$botones:(
    borde: 0,
    separacion: 10px 30px,
    margenIzq: 15px,
    tamanioFuente: 18px,
    curvaBorde: 10px,
)
